
body{
	 background-color: black;
	 color:red;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	    font-family: 'Fjalla One', sans-serif;

	}
	
	li{ float: left;
		    font-family: 'Fjalla One', sans-serif;
	
	}
	
	
	li a { display: inline-block;
	color:red;
	text-align: center;
	padding:14px 16px;
    text-decoration:none;	
    font-family: 'Fjalla One', sans-serif;
	
		
}
 
 
 li  a:hover{
	 background-color:#111
 }
 
 p{color:red;
  text-align: center;
  font-size: 150%;
   margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-family: 'Fjalla One', sans-serif;

 }
 
 h1  {
    text-align: center;
	text-decoration: underline;
	    font-family: 'Fjalla One', sans-serif;

}

 
	 
	 
 